.side-by-side-flex {
  display: flex;
  justify-content: space-between;
  &>div {
    margin: 1em;
    flex: 1 1 0px;
  }
  &>div:first-child {
    margin-left: 0;
  }
  &>div:last-child {
    margin-right: 0;
  }
}

.side-by-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.big-small {
  display: grid;
  grid-template-areas: 
    "main aside";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: $standard-padding;
}

.small-big {
  display: grid;
  grid-template-areas: 
    "aside main";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

@media screen and (max-width: $narrow-cutoff) {
  .side-by-side-flex {
    flex-direction: column;
    &>div, &>div:first-child, &>div:last-child {
      flex-grow: 1;
      margin: 0;
    }
  }

  .side-by-side {
    display: block;
    &>div {
      margin-bottom: $standard-padding;
    }
  }

  .big-small, .small-big {
    grid-template-areas: 
    "main"
    "aside";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}