$primary-color: #358bdc !default;
$secondary_color: #ff3939 !default;
$background-color: #e6e6e6 !default;
$nav-link-color: #e6e6e6 !default;
$nav-link-hover-color: #265f94 !default;
$body-font: 'Helvetica' !default;
$narrow-cutoff: 50rem !default;
$mobile-cutoff: 30rem !default;
$confined-width: 59rem !default;
$logo-url: '../../images/logo-small.png' !default;
$line-color: #393939 !default;
$standard_padding: 2rem !default;
$heading1_color: inherit !default;
$heading2_color: inherit !default;
$heading3_color: inherit !default;
$heading4_color: inherit !default;
$heading5_color: inherit !default;
$heading1_size: 2em !default;
$heading2_size: 1.6em !default;
$heading3_size: 1.4em !default;
$heading4_size: 1.2em !default;
$heading5_size: 1em !default;
