h2, h3, h4, h5 {
  margin: 0.5em 0; }

h1 {
  color: inherit;
  font-size: 2em;
  margin: 1em 0; }

h2 {
  color: inherit;
  font-size: 1.6em; }

h3 {
  color: inherit;
  font-size: 1.4em; }

h4 {
  color: inherit;
  font-size: 1.2em; }

h5 {
  color: inherit;
  font-size: 1em; }

p {
  line-height: 150%;
  font-size: 1em; }

a:link {
  color: #ff3939; }

a:hover {
  color: #881818; }

img {
  max-width: 100%;
  display: block;
  margin: auto; }

pre {
  padding: 0.5em;
  font-size: 1em;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

code {
  padding: 0.2em;
  font-size: 0.9em; }

pre, code {
  background-color: #c7c7c7;
  line-height: 150%;
  font-family: monospace;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px; }

ul, ol {
  margin: 1em 0; }

ul li, ol li {
  padding: 0.1em 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  background-color: #e6e6e6;
  font-size: 18px;
  font-family: "Helvetica"; }

#mobile-nav-button {
  padding: 1rem;
  outline: none;
  font-size: 1.25rem;
  position: fixed;
  right: 0;
  top: 1rem;
  border: 0;
  background-color: #1f4d78;
  color: #fff;
  width: auto;
  border-radius: 15px 0px 0px 15px;
  -moz-border-radius: 15px 0px 0px 15px;
  -webkit-border-radius: 15px 0px 0px 15px; }

nav {
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: #358bdc;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  nav #logo-with-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 40px;
    color: #fff;
    background: url("../images/logo-small.png");
    background-repeat: no-repeat;
    height: 40px;
    background-size: 40px 40px;
    padding-left: 50px; }

nav ul {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  text-transform: uppercase; }
  nav ul li {
    line-height: 45px;
    display: inline;
    margin: 0 1rem; }
    nav ul li a, nav ul li a:link, nav ul li a:visited {
      text-decoration: none;
      color: #e6e6e6; }
    nav ul li a:hover {
      color: #265f94; }
  nav ul #close-button {
    margin-right: 0;
    display: none; }

#shades {
  position: fixed;
  background-color: black;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), black);
  opacity: 0.6;
  filter: alpha(opacity=60);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9; }

main {
  padding: 1.5rem; }

footer {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  font-size: 0.8em; }

@media screen and (max-width: 50rem) {
  #mobile-nav-button {
    display: block;
    z-index: 1; }

  #nav-links {
    padding: 0 0 0 0; }
    #nav-links li {
      padding: 0.5em 1.5em; }

  nav ul {
    position: fixed;
    padding: 0;
    top: 1rem;
    right: 1rem;
    background-color: #fff;
    width: 50%;
    min-width: 300px;
    padding: 2rem;
    z-index: 10;
    border-radius: 1em 1em 1em 1em;
    -moz-border-radius: 1em 1em 1em 1em;
    -webkit-border-radius: 1em 1em 1em 1em;
    display: none; }
    nav ul li {
      display: block;
      font-size: 1.2em;
      padding: 0;
      margin: 0.5em 0;
      border-bottom: 1px solid gray; }
    nav ul li a, nav ul li a:link, nav ul li a:visited {
      color: #358bdc; }
    nav ul li a:hover, nav ul li a:visited {
      color: #265f94; }
    nav ul #close-button {
      display: block;
      color: #ff3939;
      border: 0; } }
form {
  font-size: 1em; }

input[type='text'],
input[type='number'],
input[type='submit'],
input[type='password'],
select,
textarea,
button.custom {
  font-size: 1em;
  padding: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid;
  font-family: inherit;
  margin-bottom: 1em;
  border-color: #393939;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em; }

input[type='radio'],
input[type='checkbox'] {
  margin: 0.5em 0.5em 1em 0.5em; }

.button-primary {
  background-color: #358bdc;
  color: #fff; }

.button-secondary {
  background-color: #ff3939;
  color: #fff; }

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  margin-bottom: 1em;
  resize: vertical; }

.side-by-side-flex {
  display: flex;
  justify-content: space-between; }
  .side-by-side-flex > div {
    margin: 1em;
    flex: 1 1 0px; }
  .side-by-side-flex > div:first-child {
    margin-left: 0; }
  .side-by-side-flex > div:last-child {
    margin-right: 0; }

.side-by-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem; }

.big-small {
  display: grid;
  grid-template-areas: "main aside";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem; }

.small-big {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem; }

@media screen and (max-width: 50rem) {
  .side-by-side-flex {
    flex-direction: column; }
    .side-by-side-flex > div, .side-by-side-flex > div:first-child, .side-by-side-flex > div:last-child {
      flex-grow: 1; }

  .big-small, .small-big {
    grid-template-areas: "main" "aside";
    grid-template-columns: auto;
    grid-template-rows: auto; } }
.lined {
  border: 1px solid #393939; }

.dashed {
  border: 1px dashed #393939; }

.dotted {
  border: 1px dotted #393939; }

.hidden {
  display: none; }

.padded {
  padding: 1em; }

.display-block {
  display: block; }

.rounded {
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em; }

.shadowed {
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1); }

.text-centered {
  text-align: center; }

.text-right {
  text-align: right; }

.bg-white {
  background-color: #fff; }

.bg-green {
  background-color: green; }

.bg-red {
  background-color: red; }

.bg-yellow {
  background-color: #FED766; }

.bg-gray {
  background-color: #eeeeee; }

.border-left-accent {
  border-left: 5px solid #358bdc;
  padding: 0.5em 1em; }

.notification {
  padding: 1em;
  background-color: #353535;
  color: #fff;
  line-height: 1.5em;
  margin: 1em 0; }

.notification::before {
  content: '\26A0';
  font-size: 1.5em;
  padding-left: 0; }

.spaced {
  margin-bottom: 1em; }

.spacer-small {
  margin-bottom: 2em; }

.spacer-medium {
  margin-bottom: 4em; }

.spacer-large {
  margin-bottom: 10em; }

.confined {
  max-width: 59rem;
  margin-left: auto;
  margin-right: auto; }

/*# sourceMappingURL=unilay6.css.map */
