<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Unilay 5{% if web_title %} - {{web_title}}{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unilay5.css') }}">
    <script src="{{ url_for('static', filename='js/toggles.js')}}" charset="utf-8"></script>
  </head>
  <body class="unilay5">
    <header>
        <div id="logo">
          Unilay 5
        </div>
    </header>
    <main>

      {% block main %}
      <section>
        <h1>Universal Layout Standard 5</h1>
        <p>Unilay 5 is the 5th edition of the universal HTML layout template for Sen's Works.</p>
      </section>

      <section>

      </section>
      {% endblock %}

    </main>

    <footer>
      &copy; Sen Tang, 2020
    </footer>
  </body>
</html>
