<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav.ico') }}">
    <title>Unilay 5{% if web_title %} - {{web_title}}{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unilay5.css') }}">
    <script src="{{ url_for('static', filename='js/toggles.js')}}" charset="utf-8"></script>
  </head>
  <body class="unilay5">
    <header>
        <div id="logo"><a href="{{ url_for('core.index') }}">
            Unilay 5
        </a></div>
        <nav>
          <a href="#">Homepage</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </nav>
    </header>
      {% block templateMain %}
      <main>
        <h1>No content</h1>
      </main>
      {% endblock %}
    <footer>
      &copy; Sen Tang, 2020
    </footer>
  </body>
</html>
