$primary-color: #358bdc;
$background-color: #e6e6e6;
$nav-link-color: #e6e6e6;
$nav-link-hover-color: #e6e6e6;
$body-font: 'Helvetica';

$logo-url: 'logo-small.png';



// LAYOUT

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
 
body {
  margin: 0;
  padding: 5em 0 0 0;
  background-color: $background-color;
  font-size: 18px;
  font-family: $body-font;
}

nav {
  padding: 1.2em;
  font-size: 1.2em;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  #logo-with-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 40px;
    // font-weight: bold;
    color: #fff;
    background: url($logo-url);
    background-repeat: no-repeat;
    height: 40px;
    background-size: 40px 40px;
    padding-left: 50px;
  }
}

nav>ul {
  padding: 0;
  margin: 0;

  li {
    line-height: 45px;
    display: inline;
    margin: 0 1em;

    a {
      text-decoration: none;
      color: $nav-link-color;
    }
    a:hover {
      color: $nav-link-hover-color;
    }

  }
}

main {
  padding: 1.5em;
}

footer {
  padding: 1em 1.5em 1.5em 1.5em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  font-size: 0.8em;
}

// modular classes