$primary-color: #358bdc;
$background-color: #e6e6e6;
$nav-link-color: #e6e6e6;
$nav-link-hover-color: #e6e6e6;
$body-font: 'Helvetica';

$narrow-cutoff: 50rem;
$confined-width: 59rem;

$logo-url: 'logo-small.png';



// LAYOUT

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
 
body {
  margin: 0;
  background-color: $background-color;
  font-size: 18px;
  font-family: $body-font;
}

#mobile-nav-button {
  padding: 1rem;
  outline: none;
  font-size: 1.25rem;
  position: fixed;
  right: 0;
  top: 1rem;
  border: 0;
  background-color: #1f4d78;
  color: #fff;
  border-radius: 15px 0px 0px 15px;
  -moz-border-radius: 15px 0px 0px 15px;
  -webkit-border-radius: 15px 0px 0px 15px;
}

nav {
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: $primary-color;
  // position: fixed;
  // top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  #logo-with-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 40px;
    // font-weight: bold;
    color: #fff;
    background: url($logo-url);
    background-repeat: no-repeat;
    height: 40px;
    background-size: 40px 40px;
    padding-left: 50px;
  }
}

nav ul {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  text-transform: uppercase;

  li {
    line-height: 45px;
    display: inline;
    margin: 0 1rem;

    a {
      text-decoration: none;
      color: $nav-link-color;
    }
    a:hover {
      color: $nav-link-hover-color;
    }
  }

  #close-button {
    margin-right: 0;
    display: none;
  }
}

#shades {
  position: fixed;
  background-color: black;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), black);
  opacity: 0.6;
  filter: alpha(opacity=60);
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 9;
}

p {
  line-height: 150%;
}

main {
  padding: 1.5rem;
}

footer {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  font-size: 0.8em;
}

// modular classes

.confined {
  max-width: $confined-width;
  margin-left: auto;
  margin-right: auto;
}

.padded {
  padding: 1.5em;
}

.spacer-small {
  padding-bottom: 2rem;
}

.spacer-medium {
  padding-bottom: 5rem;
}

.spacer-big {
  padding-bottom: 10rem;
}

.bg-white {
  background-color: #fff;
}

.hidden {
  display: none;
}

.display-block {
  display: block;
}




@media screen and (max-width: $narrow-cutoff) {
  #mobile-nav-button {
    display: block;
    z-index: 1;
  }

  #nav-links {
    padding: 0 0 0 0;
    li {
      padding: 0.5em 1.5em;
    }
  }

  nav ul {
    position: fixed;
    padding: 0;
    top: 1rem;
    right: 1rem;
    background-color: #fff;
    width: 50%;
    min-width: 300px;
    padding: 2rem;
    z-index: 10;
    border-radius: 1em 1em 1em 1em;
    -moz-border-radius: 1em 1em 1em 1em;
    -webkit-border-radius: 1em 1em 1em 1em;
    display: none;

    li {
      display: block;
      font-size: 1.2em;
      padding: 0;
      margin: 0.5em 0;
      border-bottom: 1px solid gray;
    }

    li a {
      color: #358bdc;
    }

    li a:hover {
      color: #265f94;
    }

    #close-button {
      display: block;
      color: #ff3939;
      border: 0;
    }
  }
}