/* *****************************************************************************
CONFIGURABLE COLORS
***************************************************************************** */

@function contrast_text($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

$primary_color: #ff3939; // color that will appear most
$secondary_color: #358bdc; // a secondary color
$primary_contrast_text: contrast_text($primary_color);
$secondary_contrast_text: contrast_text($secondary_color);



// TEXT COLORS
$font_color: #000; // general text color


$navlink_color: #000; // color of links in the navigation menu
$navlink_hover: #e0e0e0;
$navlink_mobile_color: #393939; // color of links in the navigation menu on mobile devices
$navlink_mobile_bg: #ffffff; // background color of links on mobile devices
$navlink_mobile_button_color: #dddddd;
$navlink_mobile_border_color: #e9e9e9;

$link_color: #ff3939; // color of regular links in the body
$link_hover: #ff9999;



// ELEMENT COLORS
$line_color: #e6e6e6; // color for lines that serve to separate content (i.e. borders)
$title_color: #393939; // color for the page logo/title
$header_color: #f9f9f9; // color for the <header> element
$header_bottom_border: #d0d0d0; // color for the bottom border of the header
$shadow_color: rgba(0, 0, 0, 0.1);
$body_background: #ffffff;


// HEADINGS
$heading1_color: inherit;
$heading2_color: inherit;
$heading3_color: inherit;
$heading4_color: inherit;
$heading5_color: inherit;
$heading1_size: 2em;
$heading2_size: 1.6em;
$heading3_size: 1.4em;
$heading4_size: 1.2em;
$heading5_size: 1em;


// LAYOUT CONFIGURATION
$aside_width: 300px;
$page_width: 50em; // width of the .confined class, determines how wide elements can get in confined blocks
$standard_padding: 1.5em;
$body_font_size: 18px;
$body_font_family: sans-serif;

// Responsive Quantifiers
$mobile_nav_cutoff: 50em; // width of horizontal menu + logo + title in pixels
$min_nav_cutoff: 380px; // width of logo + title + floating menu button
$footer_color: #393939; // color of footer text








/* *****************************************************************************
PAGE SETUP
***************************************************************************** */

body {
  font-size: $body_font_size;
  font-family: $body_font_family;
  color: $font_color;
  margin: 0;
  padding: 0;
  background-color: $body_background;
}

header {
  background-color: $header_color;
  border-bottom: 1px solid $header_bottom_border;
  padding: $standard_padding;
  display: grid;
  text-align: center;
  grid-template-areas: "logo nav";

  #logo {
    padding-left: 1.8em;
    line-height: 1.5em;
    grid-area: logo;
    background-image: url('../images/logo-small.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
    font-size: 1.8em;
    a:link, a:visited {
      color: $title_color;
      text-decoration: none;
    }
  }

  nav, #navigation {
    grid-area: nav;
    padding: $standard_padding/2;
    text-align: right;
    z-index: 10;
    a {
      display: inline-block;
      color: $navlink_color;
      text-decoration: none;
      padding: 0 1em;
    }
    a:hover {
      color: $navlink_hover;
    }

    #closeMenu {
      display: none;
    }
  }
}

#openMenu {
  display: none;
  outline: none;
  position: fixed;
  top: 0;
  right: 1em;
  padding: 1em;
  color: $navlink_color;
  background-color: $navlink_mobile_button_color;
  border: 1px solid $navlink_mobile_border_color;
  border-top: 0;
  border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 0em 0em 1em 1em;
  border: 0;
  font-size: 1em;
  z-index: 9;
}

#openMenu::after {
  content: " MENU";
}

#shades {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  text-align: center;
  color: #6E6E6E;
}

section {
  margin: 4em 0 1em 0;
  // padding: 0 $standard_padding;
}

.confined {
  max-width: $page_width;
  margin-left: auto;
  margin-right: auto;
}

footer {
  border-top: 1px solid $line_color;
  padding-top: 1em;
  max-width: $page_width;
  color: $footer_color;
  margin: 5em auto 3em auto;
  display: grid;
  grid-template-areas:
    "copyright version";
  grid-gap: 0;

  #copyright {
    grid-area: copyright;
    text-align: left;
    font-size: 0.85em;
  }
  #version {
    grid-area: version;
    text-align: right;
    font-size: 0.85em;
  }
}

@media screen and (max-width: $page_width + $standard_padding*6) {
  body>main, footer {
    padding: $standard_padding;
  }
}

@media screen and (max-width: $mobile_nav_cutoff) {
  header nav {
    display: none;
    background-color: $navlink_mobile_bg;
    padding: 0;
    border: 1px solid $navlink_mobile_border_color;
    position: fixed;
    top: 0;
    right: 1em;
    overflow: hidden;
    text-align: center;
    border-radius: 1em 1em 1em 1em;
    -moz-border-radius: 1em 1em 1em 1em;
    -webkit-border-radius: 0em 0em 1em 1em;

  }

  header #navigation a {
    display: block;
    font-size: 1.5em;
    padding: 0.75em 1.5em;
    color: $navlink_mobile_color;
    border-bottom: 1px solid $navlink_mobile_border_color;
  }

  header #navigation #closeMenu {
    display: block;
    color: $secondary_color;
    border-bottom: 0;
  }

  #openMenu {
    display: block;
  }
}

@media screen and (max-width: $min_nav_cutoff) {
  #openMenu::after {
    content: "";
  }
}



/* *****************************************************************************
TEXT SETUP (LINKS, HEADERS, PARAGRAPHS)
***************************************************************************** */

p {
  line-height: 150%;
}

main {
  %link-button
  {
    padding: 0.5em 1em;
    text-decoration: none;
    margin: 1em auto;
    display: inline-block;
    text-align: center;
  }

  a.button-primary {
    @extend %link-button;
    background-color: $primary_color;
    color: $primary_contrast_text;
  }
  a.button-secondary {
    @extend %link-button;
    background-color: $secondary_color;
    color: $secondary_contrast_text;
  }
  a.button-primary:hover,
  a.button-secondary:hover {
    color: $navlink_hover;
  }
}

a:link, a:visited {
  color: $link_color;
}
a:hover {
  color: $link_hover;
}
a[target=_blank]::before {
  content: '\274F  ';
}

a.navigation {
  display: block;
  margin: 0.5em 0;
}
a.navigation:before {
  content: '\261B  ';
}

h2, h3, h4, h5 {
  margin: 0.5em 0;
}

h1 {
  color: $heading1_color;
  font-size: $heading1_size;
  margin: 1em 0;
}

h2 {
  color: $heading2_color;
  font-size: $heading2_size;
}

h3 {
  color: $heading3_color;
  font-size: $heading3_size;
}

h4 {
  color: $heading4_color;
  font-size: $heading4_size;
}

h5 {
  color: $heading5_color;
  font-size: $heading5_size;
}

pre {
  padding: 0.5em;
  font-size: 0.9em;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code {
  padding: 0.1em;
  font-size: 0.8em;
}
pre, code {
  background-color: #e6e6e6;
  font-family: monospace;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

ul, ol {
  margin: 1em 0;
}
ul li, ol li {
  padding: 0.1em 0;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}



/* *****************************************************************************
BLOCK LEVEL ELEMENTS
***************************************************************************** */

.block {
  padding: $standard_padding;
  margin-bottom: $standard_padding;
}

.sidebar-block {
  padding: $standard_padding/2 $standard_padding;
  margin-bottom: $standard_padding
}

.block-comparison-3 {
  display: grid;
  grid-template-areas:
    "comp1 comp2 comp3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $standard_padding;

  .comp1 {
    grid-area: comp1;
  }
  .comp2 {
    grid-area: comp2;
  }
  .comp3 {
    grid-area: comp3;
  }

  .comp1,
  .comp2,
  .comp3 {
    padding: $standard_padding/2;
    margin-bottom: $standard_padding;
  }
}

@media screen and (max-width: 850px) {
  .block-comparison-3 {
    display: block;
  }
}

.block-comparison-2 {
  display: grid;
  grid-template-areas:
    "comp1 comp2";
  grid-template-columns: 1fr 1fr;
  grid-gap: $standard_padding;
  .comp1 {
    grid-area: comp1;
  }
  .comp2 {
    grid-area: comp2;
  }

  .comp1,
  .comp2 {
    padding: $standard_padding/2;
    margin-bottom: $standard_padding;
  }
}

@media screen and (max-width: 750px) {
  .block-comparison-2 {
    display: block;
  }
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  // div {
  //   margin: 0.5em;
  //   display: block;
  //   width: 10em;
  // }
}

%with-sidebar {
  display: grid;
  grid-gap: $standard_padding;

  main {
    grid-area: main;
  }
  aside {
    grid-area: aside;
  }
}

.main-aside {
  @extend %with-sidebar;
  grid-template-areas: "main aside";
  grid-template-columns: auto $aside_width;
}
.aside-main {
  @extend %with-sidebar;
  grid-template-areas: "aside main";
  grid-template-columns: $aside_width auto;
}

@media screen and (max-width: $aside_width*3) {
  .main-aside, .aside-main {
    grid-template-areas:
      "main"
      "aside";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

.spacer-small {
  padding-bottom: 2em;
}

.spacer-medium {
  padding-bottom: 4em;
}

.spacer-large {
  padding-bottom: 10em;
}

/* *****************************************************************************
ADDON CHARACTERISTICS
***************************************************************************** */

.lined {
  border: 1px solid $line_color;
}

.dashed {
  border: 1px dashed $line_color;
}

.dotted {
  border: 1px dotted $line_color;
}

.hidden {
  display: none;
}

.padded {
  padding: $standard_padding;
}

.display-block {
  display: block;
}

.rounded {
  border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em 1em 1em 1em;
}

.shadowed {
  -webkit-box-shadow: 0px 10px 15px 0px $shadow_color;
  -moz-box-shadow: 0px 10px 15px 0px $shadow_color;
  box-shadow: 0px 10px 15px 0px $shadow_color;
}

.text-centered {
  text-align: center;
}

.bg-white {
  background-color: #fff;
}
.bg-green {
  background-color: green;
}
.bg-red {
  background-color: red;
}
.bg-yellow {
  background-color: #FED766;
}
.bg-gray {
  background-color: #eeeeee;
}

.border-left-accent {
  border-left: 5px solid $primary_color;
  padding: 0.5em 1em;
}

.notification {
  padding: $standard_padding;
  border: 1px solid $line_color;
  line-height: 1.5em;
  margin: $standard_padding 0;
}
.notification::before {
  content: '\26A0';
  font-size: 1.5em;
  padding-left: 0;
}
.notification::after {
  content: 'Dismiss';
  display: block;
  text-align: right;
  border-top: 1px solid $line_color;
  margin-top: 0.5em;
  color: #595959;
}



/* *****************************************************************************
FORMS
***************************************************************************** */

form
{
  font-size: 1em;
}

input[type='text'],
input[type='number'],
input[type='submit'],
input[type='password'],
select,
textarea {
  font-size: 1em;
  padding: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid;
  font-family: inherit;
  margin-bottom: 1em;
  border-color: $line_color;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
}

input[type='submit'] {
  margin-top: 1em;
}

input[type='radio'],
input[type='checkbox'] {
  margin: 0.5em 0.5em 1em 0.5em;
}

.button-primary {
  background-color: $primary_color;
  color: $primary_contrast_text;
}

.button-secondary {
  background-color: $secondary_color;
  color: $secondary_contrast_text;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  margin-bottom: 1em;
  resize:vertical;
}

