/* *****************************************************************************
CONFIGURABLE COLORS
***************************************************************************** */
/* *****************************************************************************
PAGE SETUP
***************************************************************************** */
body {
  font-size: 18px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* *****************************************************************************
PAGE STRUCTURE
***************************************************************************** */
header {
  background-color: #358bdc;
  padding: 1.5em;
  display: grid;
  text-align: center;
  grid-template-areas: "logo nav";
}
header #logo {
  padding-left: 1.5em;
  grid-area: logo;
  background-image: url("../images/logo-small.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: left;
  font-size: 2em;
}
header #logo a:link, header #logo a:visited {
  color: #ffffff;
  text-decoration: none;
}
header nav {
  grid-area: nav;
  padding: 0.75em;
  text-align: right;
}
header nav a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 0 1em;
}
header nav a:hover {
  color: #e9e9e9;
}

section {
  margin: 1em 0 4em 0;
  padding: 0 1.5em;
}

.confined {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  border-top: 1px solid #e6e6e6;
  padding-top: 1em;
  font-size: 0.85em;
  color: #393939;
  margin: 5em 1em 3em 1em;
  display: grid;
  grid-template-areas: "copyright version";
}
footer #copyright {
  grid-area: copyright;
  text-align: left;
}
footer #version {
  grid-area: version;
  text-align: right;
}

/* *****************************************************************************
TEXT SETUP (LINKS, HEADERS, PARAGRAPHS)
***************************************************************************** */
p {
  line-height: 150%;
}

main a:link, main a:visited {
  color: #358bdc;
}
main a:hover {
  color: #a8cdf0;
}

h1 {
  color: inherit;
}

h2 {
  color: inherit;
}

h3 {
  color: inherit;
}

h4 {
  color: inherit;
}

h5 {
  color: inherit;
}

pre {
  padding: 0.5em;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

pre, code {
  background-color: #e6e6e6;
  font-family: monospace;
}

/* *****************************************************************************
BLOCK LEVEL ELEMENTS
***************************************************************************** */
.block {
  padding: 1.5em;
  margin-bottom: 2em;
}

.block-comparison-3 {
  display: grid;
  grid-template-areas: "comp1 comp2 comp3";
  grid-gap: 1.5em;
}
.block-comparison-3 .comp1 {
  grid-area: comp1;
}
.block-comparison-3 .comp2 {
  grid-area: comp2;
}
.block-comparison-3 .comp3 {
  grid-area: comp3;
}
.block-comparison-3 .comp1,
.block-comparison-3 .comp2,
.block-comparison-3 .comp3 {
  padding: 0.75em;
  margin-bottom: 1.5em;
}

.block-comparison-2 {
  display: grid;
  grid-template-areas: "comp1 comp2";
  grid-gap: 1.5em;
}
.block-comparison-2 .comp1 {
  grid-area: comp1;
}
.block-comparison-2 .comp2 {
  grid-area: comp2;
}
.block-comparison-2 .comp1,
.block-comparison-2 .comp2 {
  padding: 0.75em;
  margin-bottom: 1.5em;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}
.flexbox div {
  margin: 0.5em;
  display: block;
  width: 10em;
}

/* *****************************************************************************
ADDON CHARACTERISTICS
***************************************************************************** */
.lined {
  border: 1px solid #e6e6e6;
}

.hidden {
  display: none;
}

.rounded {
  border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em 1em 1em 1em;
}

.shadowed {
  -webkit-box-shadow: 0px 10px 15px 0px rgba(230, 230, 230, 0.5);
  -moz-box-shadow: 0px 10px 15px 0px rgba(230, 230, 230, 0.5);
  box-shadow: 0px 10px 15px 0px rgba(230, 230, 230, 0.5);
}

/* *****************************************************************************
FORMS
***************************************************************************** */
form {
  font-size: 1em;
}

input[type=text],
input[type=number],
input[type=submit],
input[type=password],
select,
textarea {
  font-size: 1em;
  padding: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid;
  font-family: inherit;
  margin-bottom: 1em;
  border-color: #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
}

input[type=submit] {
  margin-top: 1em;
}

input[type=radio],
input[type=checkbox] {
  margin: 0.5em 0.5em 1em 0.5em;
}

.redButton {
  background-color: #ff3939;
  color: #fff;
}

.blueButton {
  background-color: #358bdc;
  color: #fff;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  margin-bottom: 1em;
  resize: vertical;
}

#quillEditor {
  font-size: 1em;
}

/*# sourceMappingURL=unilay5.css.map */
