{% set web_title = "Homepage" %}
{% extends 'unconfined.html' %}

{% block main %}
<section id = "splash">
  <div id="grid-main">
    <div id="splash-text">
      <h1>U N I<br>L A Y</h1>
      <p>Unilay 5 is the 5<sup>th</sup> iteration of the universal HTML layout template for Sen's Works. This iteration introduces user-friendly features for users who may not be familiar with HTML. </p>
      <p>It's now possible to customize Unilay with your own colors!</p>
      <a href="{{ url_for('core.customize')}}" class="button-secondary rounded">Customize Unilay</a>
    </div>
  </div>
  <div id="grid-side1">
    <h2>Save Time</h2>
    <p>Spend less time worrying about UI and more time making the perfect app. Unilay is responsive, which means it reshapes its contents to fit different screen sizes.</p>
  </div><div id="grid-side2"></div>
  <div id="grid-side3"></div>
  <div id="grid-side4">
    <h2>Beginner-Friendly</h2>
    <p>Unilay 5 was designed using simple HTML, CSS, and JS tags, making it easy for beginners to understand and adapt it to their own needs. You can use the customization tool if you don't want to write any HTML or CSS code at all!</p>
  </div>
</section>

<section class="confined">
  <h2>Why Use Unilay?</h2>
  <div class="block-comparison-3">
    <div class="comp1">
      <img src="{{ url_for('static', filename='images/customize.png') }}" alt="">
      <h3>Customizeable</h3>
      <p>Customize Unilay without writing a single line of code! Use the graphical preview interface to create your own version of Unilay.</p>
    </div>
    <div class="comp2">
      <img src="{{ url_for('static', filename='images/free.png') }}" alt="">
      <h3>Completely Free</h3>
      <p>No fees, no ads or direct link requirements. Just leave a credit somewhere on your webpage or credits section.</p>
    </div>
    <div class="comp3">
      <img src="{{ url_for('static', filename='images/versatile.png') }}" alt="">
      <h3>Versatile</h3>
      <p>Unilay takes care of small details so you can work on the big picture, it's the perfect starting point for your next project!</p>
    </div>
  </div>
</section>

<!-- <section class="text-centered" id="unilay-users">
  <h2>Who's Using Unilay?</h2>
  <div class="block-comparison-3">
    <div class="comp1 shadowed bg-white">
      <h3>Fluid Notebook</h3>
      <p>An online notebook with automatic dark mode and scales to any device size!</p>
      <a href="https://www.fluidnotebook.com" class="button-secondary">Visit</a>
    </div>

    <div class="comp2 shadowed bg-white">
      <h3>Studying Club</h3>
      <p>Tired of flooding your inbox with group communications? How about a centralized platform?</p>
      <a href="https://www.fluidnotebook.com" class="button-secondary">Visit</a>
    </div>

    <div class="comp3 shadowed bg-white">
      <h3>Crawlies</h3>
      <p>An online Bug tracker.</p>
    </div>
  </div>

</section>
<div class="spacer-medium"></div> -->

<section class="confined spacer-medium" id="contact">
  <h2>Contact Info</h2>
  <p>If you'd like to use Unilay for one of your projects, you can get the HTML, CSS, and JS code after you finish <a href="{{ url_for('core.customize')}}">customizing it</a>.</p>
  <p>If for any reason, you'd like to contact me regarding Unilay, please send me an email at <b>sensworks.ca@gmail.com</b>. Alternatively, if you'd like to leave me a note, please fill out the form below.</p>
  <p><b>(Form is coming soon!)</b></p>
</section>

<section class="confined">
  <h2>Read the Docs</h2>
  <p>There's very little to learn about Unilay, please check the <a href="{{ url_for('core.template') }}">template</a> page to see all that Unilay has to offer. It's a very lightweight HTML template!</p>
</section>


{% endblock %}
