{% set web_title = "Template" %}
{% extends 'unconfined.html' %}

{% block main %}
<section class="confined spacer-large">
  <h1>Template Documentation</h1>
  <p>Here you can see how various HTML tags and custom CSS classes will look like on your webpage.</p>
  <h2>Contents</h2>
  <a href="#textheadings" class="navigation">Text Headings and Inline Elements</a>
  <a href="#comparisons" class="navigation">Comparison Blocks</a>
  <a href="#otherblocks" class="navigation">Other Block-Level Elements</a>
  <a href="#withsidebars" class="navigation">Blocks with Sidebars</a>
  <a href="#confined" class="navigation">Confined Sections</a>
  <a href="#forms" class="navigation">Forms</a>
</section>

<section class="confined spacer-large" id="textheadings">
  <h1>Text, Headings, Inline Elements</h1>
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <p>Paragraph text. Let's also take this opportunity to look at how <a href="#">links</a> look like (and <a href="#" target="_blank">links that open new windows</a>). How about <b>bold</b>, <u>underlined</u>, <i>italicized</i>, and <em>emphasized text</em> look like. Keep in mind that you can customize link and link hover colors too!</p>
  <p>Let's also look at lists.</p>
  <ul>
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
  </ul>
  <ol>
    <li>Ordered lists</li>
    <li>Ordered lists</li>
  </ol>
  <p>Perhaps you'd like a button for call to action? Add the <code>.button-primary</code> or <code>.button-secondary</code> class to your <code>a</code> tag to turn it into a block-level element. Additional CSS classes can be added. The button below has <code>class="button-primary rounded lined"</code>.</p>
  <a href="#" class="button-primary rounded">Click Me</a>
  <p>If you want to write code examples on your website, use <code>&lt;code&gt;</code> for inline code, and <code>&lt;pre&gt;</code> for block code (below).</p>
  <pre>from this import that
print("Isn't this fun?")</pre>
  <p>Unilay's built-in JS allows for expanding/collapsing parapraphs. For example, this paragraph contains hidden content that's not visible right away. <a onclick="toggleElement('hidden_text_demo')">Show/Hide</a>.</p>
  <p class="hidden" id="hidden_text_demo">Some hidden content here. To make an element initially hidden, add the <code>.hidden</code> class to it, and assign it an id. For example, this paragraph has <code>class="hidden" id="hidden_text_demo"</code>. On the toggle element (i.e. an <code>&lt;a&gt;</code> tag), add <code>onclick="toggleElement('hidden_text_demo')"</code>. Clicking on the toggle again will hide the content again. If the target element does not have the <code>.hidden</code> class, it will be hidden when you click on the toggle.</p>
  <hr>
  <p>One way to create separation between large chunks of text is to use a horizontal rule (above) <code>&lt;hr&gt;</code>.</p>
  <p>If you need more space behind any element (including block-level elements), add the <code>.spacer-small</code>, <code>.spacer-medium</code>, or <code>.spacer-large</code> class. They will add an additional 2em, 4em, or 10em below the element, respectively. Alternatively, you can add a <code>&lt;div&gt;</code> with any of these classes to achieve the same effect.</p>
  <a href="#" class="button-secondary rounded shadowed">Back to top</a>
</section>



<section class="confined spacer-large" id="comparisons">
  <h2>Comparison Blocks</h2>
  <p>These are great when you need content side by side, or side by side by side :)</p>
  <p>When viewed on a smaller device, these comparison blocks will switch to a single-column so it's easy to read. This behavior also occurs when using internet explorer, or on other browsers which do not support CSS Grid.</p>
  <h3>3-item comparison block</h3>
  <p>Use the <code>.block-comparison-3</code> class in a <code>div</code> or other block-level HTML element.</p>
  <div class="block-comparison-3">
    <div class="comp1 lined">
      <h4>Item 1</h4>
      <p>The first item in your comparison block should have the <code>.comp1</code> class.</p>
      <p>This item also has the <code>.lined</code> class applied to it, giving it a clean border. This border's color is determined by your "line color" customization.</p>
    </div>
    <div class="comp2 shadowed">
      <h4>Item 2</h4>
      <p>The second item in your comparison block should have the <code>.comp2</code> class.</p>
      <p>If you need something that pops out a little bit more, the <code>.shadowed</code> class might be a good fit for you!</p>
    </div>
    <div class="comp3 rounded lined">
      <h4>Item 3</h4>
      <p>The third item in your comparison block should have the <code>.comp3</code> class.</p>
      <p>I heard that rounded corners are all the rage now. Use the <code>.rounded</code> class to give your block-level element rounded corners.</p>
    </div>
  </div>
  <h3>2-item comparison block</h3>
  <p>Use the <code>.block-comparison-2</code> class in a <code>div</code> or other block-level HTML element.</p>
  <div class="block-comparison-2">
    <div class="comp1 lined rounded shadowed">
      <h4>Item 1</h4>
      <p>You can combine class names to get their combined effects. For example, this particular div has <code>class="comp1 lined rounded shadowed"</code>.</p>
    </div>
    <div class="comp2">
      <h4>Item 2</h4>
      <p>Or you can always keep it simple, <code>.comp1</code> to <code>.comp3</code> classes work without any additional styling.</p>
    </div>
  </div>
  <a href="#" class="button-secondary rounded shadowed">Back to top</a>
</section>



<section class="confined spacer-large" id="otherblocks">
  <h2>Other block-level elements</h2>
  <div class="block">
    <h3>Plain Block</h3>
    <p>Block-level elements are very useful when you need to direct attention to certain areas in your webpage. Afterall, a page make up of a block of text can be very offputting.</p>
    <p>These blocks create visual distinction and manageable chunks for the reader, making it more visually appealing and more readable. To create a block, add the <code>.block</code> class to a block-level HTML element.</p>
    <p class="border-left-accent">You can also elevate paragraphs by adding a <code>.border-left-accent</code> class.</p>
  </div>
  <div class="block lined">
    <h3>Lined Block</h3>
    <p>You can make blocks stand out more by applying CSS classes to it. This one has <code>class="lined block"</code> applied to it.</p>
    <p>While we're here, let's also look at a couple more line styles.</p>
    <div class="dotted block">
      <code>.dotted</code> class
    </div>
    <div class="dashed block">
      <code>.dashed</code> class
    </div>
  </div>
  <div class="block rounded lined">
    <h3>Lined and rounded</h3>
    <p>This one has <code>class="rounded lined block"</code></p>
  </div>
  <div class="block shadowed">
    <h3>Shadowed Block</h3>
    <p>This one has <code>class="shadowed block"</code></p>
  </div>
  <div class="notification" id="notification1" onClick="dismissNotif('notification1')">
    Notification blocks have the <code>.notification</code> class. They need to be assigned an ID and <code>onclick</code> attribute so they can be dismissed when the user clicks on it. For example, this notification div has the following:
    <pre>class="notification" id="notification1" onClick="dismissNotif('notification1')"</pre>
    Do not use <code>&lt;p&gt;</code> tags in notification blocks. Clicking anywhere in the box should dismiss the notification.
  </div>
  <!-- <div class="block flexbox lined">
    <h2>Flexbox</h2>
    <div class="lined block"></div>
    <div class="lined block"></div>
    <div class="lined block"></div>
    <div class="lined block"></div>
    <div class="lined block"></div>
  </div> -->
  <a href="#" class="button-secondary rounded shadowed">Back to top</a>
</section>



<section class="confined main-aside spacer-large" id="withsidebars">
  <main>
    <h2>Sections With Sidebars</h2>
    <p>Some pages could really benefit from additional information or navigation in a sidebar. To create a section like that, use the <code>.main-aside</code> or <code>.aside-main</code> class in the containing element. The former has the main content on the left and the side content on the right; the latter is reversed.</p>
    <p>Your main content should be enclosed by the <code>&lt;main&gt;</code> tag, and side content by the <code>&lt;aside&gt;</code> tag.</p>
    <p>Here's a code example:</p>
    <pre>&lt;div class="main-aside"&gt;
  &lt;main&gt;
    Main content
  &lt;/main&gt;
  &lt;aside&gt;
    Sidebar content
  &lt;/aside&gt;
&lt;/div&gt;</pre>
    <p>The order you put the <code>&lt;main&gt;</code> and <code>&lt;aside&gt;</code> tags does not matter, and the containing element can be any block-level HTML tag, such as <code>&lt;section&gt;</code>, <code>&lt;div&gt;</code>, and <code>&lt;main&gt;</code>.</p>
    <pre class="ql-syntax" spellcheck="false">&lt;div class="main-aside"&gt;
  &lt;aside&gt;
    Main content
  &lt;/aside&gt;
  &lt;main&gt;
    Sidebar content
  &lt;/main&gt;
&lt;/div&gt;</pre>
    <p>Conside using wider <code>.confined</code> max-width values for these sections.</p>
    <a href="#" class="button-secondary rounded shadowed">Back to top</a>
  </main>
  <aside>
    <div class="spacer-medium"></div>
    <div class="lined sidebar-block">
      <h3>Sidebar</h3>
      <p>Here's my sidebar! An appropriate type of content to put in the sidebar would be navigation links.</p>
      <a href="#" class="navigation">Navigation Link 1</a>
      <a href="#" class="navigation">Navigation Link 2</a>
      <p>Blocks in the sidebar should be given the <code>.sidebar-block</code> class, as these have reduced top and bottom padding.
    </div>
  </aside>
</section>



<section class="confined spacer-large" id="confined">
  <h2>Confined sections</h2>
  <p>All the sections you've seen so far have the <code>.confined</code> class. This confines the element to a maximum width, so text don't stretch from edge to edge. This means the reader's eyes don't have to scan from the extreme left to extreme right, providing a more comfortable reading experience.</p>
  <p class="border-left-accent">You can set the max-width for <code>.confined</code> elements when you customize Unilay.</p>
  <p>However, if you want to do something clever with the design and would prefer take advantage of the entire width of the window, simply omit the <code>.confined</code> class. The <a href="{{ url_for('core.index') }}">homepage</a> uses an unconfined block for the intro.</p>
  <p>Note that all <code>&lt;section&gt;</code> elements have built-in margins - 4ems on top and 1em below.</p>
  <a href="#" class="button-secondary rounded shadowed">Back to top</a>
</section>



<section class="confined spacer-large" id="forms">
  <h2>Forms</h2>
  <p>Say goodbye to ugly forms! These will look good on a desktop, tablet, or phone. There's plenty of spacing between each clickable element, so finger-operated devices won't need to worry about wrong clicks/taps.</p>
  <div class="block lined shadowed rounded">
    <form>
      <label for="input_text_demo">Text Input Field</label>
      <input type="text" name="input_text_demo" value="">
      <label for="input_text_placeholder">Text with placeholder</label>
      <input type="text" name="input_text_demo" value="" placeholder="Placeholder">
      <label for="input_select_demo">Selection Field</label>
      <select class="" name="input_select_demo">
        <option value="">Option 1</option>
      </select>
      <label for="input_textarea_demo">Text Area</label>
      <textarea name="input_textarea_demo">Textarea fields are resizeable vertically but not horizontally.</textarea>
      <input type="submit" value="Submit Button (No Classes)">
      <input type="submit" class="button-primary" value="Submit Button (Primary color)">
      <input type="submit" class="button-secondary" value="Submit Button (Secondary color)">
    </form>
  </div>
  <a href="#" class="button-secondary rounded shadowed">Back to top</a>
</section>

{% endblock %}
